             <meta charset="utf-8" emacsmode="-*- markdown -*-">
                            **SQL join Examples**
                              *Zeyuan Hu*
                              
Problem
===============================================================================

Suppose we have two schemas $R(b,c)$ and $S(c,d)$, we want to write equivalent SQL queries
to produce the result of $R \Join S$. 

Setup
=====

We use [PostgreSQL 11](https://www.postgresql.org/) to demonstrate various ways
of writing SQLs that produce the same result. Use SQL provided [here](src/join-examples/join-examples-setup.sql)
to setup database and table with the command:

~~~shell
$ psql -p5432 -f join-examples-setup.SQL
~~~

You should be able to see the following on success:

~~~shell
CREATE ROLE
CREATE DATABASE
You are now connected to database "ee382v" as user "zyh".
BEGIN
DROP TABLE
CREATE TABLE
CREATE TABLE
INSERT 0 6
INSERT 0 6
COMMIT
~~~

SQL Queries
===========

!!!note
    All the queries shown in this section are available [here](src/join-examples/join-examples-queries.sql). To execute the script,
    we can run:
    
    ~~~shell
    $ psql -p5432 -f join-examples-queries.sql
    ~~~

To make a concrete example, suppose 

- table $R$ contains a list of Amazon employees and ids of [Amazon Web Services (AWS)](https://aws.amazon.com/) services they are working on
  (some employees may not be part of AWS group and hence, not working on any AWS services)
- table $S$ contains a list of AWS service ids and their names

We want to find out which person has been working on a AWS service identified by its name. All of the following queries should produce 
the following result set:

~~~shell
 name
---------
 tiratat
 Dan
 jatin
 anu
 matt
(5 rows)
~~~

!!!note
    Since SQL has bag semantics, the order of tuples in the result set doesn't matter.

Query 1 is following, which implicitly uses natural join to produce the result:

~~~SQL
select name from R,S where R.serviceid = S.serviceid;
~~~

Query 2 explicitly uses join to produce the result:

~~~SQL
select name from R join S on r.serviceid = s.serviceid;
~~~

Query 3 uses correlated subquery to produce the result:

~~~SQL
select R.name from R where exists (select S.service from S where R.serviceid = S.serviceid);
~~~

Query 4 uses non-correlated subquery to produce the result:

~~~SQL
select R.name from R where R.serviceid in (select serviceid from S);
~~~

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js?" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
